<h1 class="title">To-Do List</h1>


<div class="controls-container">
  
  <button mat-button class="add-task-btn" (click)="openAddTaskDialog()">+ ADD TASK</button>


  <div class="filters-container">
    <mat-form-field appearance="outline">
      <mat-label>Sort By</mat-label>
      <mat-select [(ngModel)]="sortOption" (selectionChange)="sortTasks()">
        <mat-option value="dateCreated">Date Added</mat-option>
        <mat-option value="dueDate">Due Date</mat-option>
        <mat-option value="priority">Priority</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Filter By Priority</mat-label>
      <mat-select [(ngModel)]="priorityFilter" (selectionChange)="filterTasks()">
        <mat-option value="All">All</mat-option>
        <mat-option value="High">High</mat-option>
        <mat-option value="Mid">Mid</mat-option>
        <mat-option value="Low">Low</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>


<div *ngFor="let task of filteredTasks">
  <app-todo-item [task]="task"></app-todo-item>
</div>